<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create Spreadsheet</title>
  </head>
  <body>
    <h1>Create Spreadsheet</h1>
    <form action="/dashboard/spreadsheet" method="GET">
      <button type="submit">Create Spreadsheet</button>
    </form>
  </body>
</html>
