<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%=submission.id %></h1>
  <h2><%=submission.nama %> </h2>
  <p><%=submission.tanggal_dibuat %> </p>
</body>
</html>