<div class="card">
  <h3><%= schedule.nama %></h3>
  <p><strong>Nama PT:</strong> <%= schedule.nama_PT %></p>
  <p><strong>Jadwal:</strong> <%= schedule.time %></p>
  <a href="/schedules/<%= schedule.id %>">Schedule</a>
</div>